.container {
  height: 90vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.subSection {
  height: 246px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.titleButton {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 36px;
  width: 354px;
}

.button {
  background: #b968b6;
  outline: none;
  border: none;
  width: 242px;
  display: flex;
  height: 59px;
  border-radius: 5px;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
}

.button:hover {
  filter: brightness(0.9);
}
