.image {
  width: 60vw;
  height: 100vh;
  background-color: #272633;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 26px;
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.divImagem {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
